<p>
    Pejabat Pendaftar baru telah melakukan pendaftaran pada {{ created_at }} dengan detail sbb :
    <br><br>
    1. Username : {{ username }}
    <br>
    2. Nama Lengkap : {{ nama }}
    <br>
    3. NIP : {{ nip }}
    <br>
    4. Jabatan {{ jabatan }}
    <br>
    5. Instansi : {{ instansi_induk_text }}
</p>
