<p>
    Pejabat Pendaftar baru telah melakukan pendaftaran pada {{ data.created_at.format('d/m/Y H:i') }} dengan detail sbb :
    <br><br>
    1. Username : {{ data.username }}
    <br>
    2. Nama Lengkap : {{ data.nama }}
    <br>
    3. NIP : {{ data.nip }}
    <br>
    4. Jabatan {{ data.jabatan }}
    <br>
    5. Instansi : {{ data.instansi_induk_text }}
</p>
