<p>
    Sub-Pejabat baru telah didaftarkan pada {{ user.created_at.format('d/m/Y H:i') }}, dengan detailuser.bb :
    <br><br>
    1. Username : {{ user.username }}
    <br>
    2. Nama Lengkap : {{ user.nama }}
    <br>
    3. NIP : {{ user.nip }}
    <br>
    4. Jabatan : {{ user.jabatan }}
</p>
