<p>
    Sub-Pejabat baru telah didaftarkan pada {{ created_at }}, dengan detail data sbb :
    <br><br>
    1. Username : {{ username }}
    <br>
    2. Nama Lengkap : {{ nama }}
    <br>
    3. NIP : {{ nip }}
    <br>
    4. Jabatan : {{ jabatan }}
</p>
