<p>
    Sistem Elektronik berikut telah mencapai kelengkapan data 100% pada {{ data.created_at.format('d/m/Y H:i') }} :
    <br><br>
    1. Nama internal SE : {{ data.nama_internal }}
    <br>
    2. Nama eksternal SE : {{ data.nama_eksternal }}
    <br>
    3. Instansi : {{ data.user.instansi_induk_text }}
    <br>
    4. Nama Penyelenggara : {{ data.user.instansi_induk_text }}
</p>
