<p>
    Sistem Elektronik berikut telah mencapai kelengkapan data 100% pada {{ created_at }} :
    <br><br>
    1. Nama internal SE : {{ nama_internal }}
    <br>
    2. Nama eksternal SE : {{ nama_eksternal }}
    <br>
    3. Instansi : {{ user.instansi_induk_text }}
    <br>
    4. Nama Penyelenggara : {{ user.instansi_induk_text }}
</p>
