<p>
  Sistem Elektronik yang didaftarkan pada
  {{created_at}}
  telah mencapai kelengkapan data 100% , detailnya sbb :
  <br /><br />
  1. Nama internal SE :
  {{nama_internal}}
  <br />
  2. Nama eksternal SE :
  {{nama_eksternal}}
  <br />
  3. Username Pendaftar :
  {{username}}
  <br />
  4. Nama Pendaftar :
  {{nama}}
  <br />
  5. Nama Instansi :
  {{instansi_induk_text}}
</p>