<p>
    Sistem Elektronik baru telah didaftarkan pada {{ created_at }} dengan detail sbb :
    <br><br>
    1. Nama internal : {{ nama_internal }}
    <br>
    2. Nama eksternal : {{ nama_eksternal }}
    <br>
    3. Username pendaftar : {{ username }}
    <br>
    4. Nama pendaftar : {{ nama }}
    <br>
    5. Nama Instansi : {{ instansi_induk_text }}
</p>
