<p>
  Melaporkan bahwa, Sistem Elektronik dengan data sebagai berikut,
  sudah melakukan asesmen mandiri di kategorisasi risiko
  <br /><br />
  Nomor Pemohon :
  {{nomor_pemohon}}
  Nomor TDPSE :
  {{nomor_registratsi}}
  Nama Sistem Elektronik :
  {{nama_internal}}
  <br />
  Nama Penyelengara Sistem Elektronik :
  {{instansi_induk_text}}
  <br />
  Nama Penanggung Jawab :
  {{createdByName}}
  <br />
  Golongan Kategori Resiko : 
  Rendah
  <br />
</p>