<p>
  Permintaan pengajuan perubahan data anda pada
  {{created_at}}
  terhadap sistem elektronik dengan detail sbb :
  <br /><br />

  1. Nama Internal :
  {{nama_internal}}
  <br />
  2. Nama Eksternal :
  {{nama_eksternal}}
  <br />
  3. Username Pengaju :
  {{username}}
  <br />
  4. Nama Pengaju :
  {{nama}}
  <br />
  5. Nama Instansi :
  {{instansi_induk_text}}
  <br />
  6. Alasan :
  {{reason}}

  <br />
  <br />
  sudah diterima oleh admin.

</p>